In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('data/purchasers.csv')

# Extract unique purchases based on the 'purchaser_name' column
unique_purchases = df.drop_duplicates(subset='purchaser_name')

# Save the unique purchases to a new CSV file
unique_purchases.to_csv('data/unique_purchases.csv', index=False)

In [5]:
df.head()

  date_of_purchase       purchaser_name  denomination
0       2019-04-12  A B C INDIA LIMITED        100000
1       2019-04-12  A B C INDIA LIMITED        100000
2       2019-04-12  A B C INDIA LIMITED       1000000
3       2019-04-12  A B C INDIA LIMITED       1000000
4       2019-04-12  A B C INDIA LIMITED        100000

In [6]:
# Function to remove rows containing a specific phrase in a specified column
def remove_rows_with_phrase(dataframe, column_name, phrase):
    return dataframe[~dataframe[column_name].str.contains(phrase, case=False, na=False)]

In [7]:
# Example usage
phrase_to_remove = 'OVERSEAS'
column_to_check = 'purchaser_name'

In [8]:
df_cleaned = remove_rows_with_phrase(df, column_to_check, phrase_to_remove)
df = df_cleaned
# Display the cleaned DataFrame
print(df_cleaned)
print(len(df_cleaned))

      date_of_purchase                  purchaser_name  denomination
0           2019-04-12             A B C INDIA LIMITED        100000
1           2019-04-12             A B C INDIA LIMITED        100000
2           2019-04-12             A B C INDIA LIMITED       1000000
3           2019-04-12             A B C INDIA LIMITED       1000000
4           2019-04-12             A B C INDIA LIMITED        100000
...                ...                             ...           ...
18866       2024-01-11  WESTWELL GASES PRIVATE LIMITED      10000000
18867       2024-01-11  WESTWELL GASES PRIVATE LIMITED      10000000
18868       2024-01-11  WESTWELL GASES PRIVATE LIMITED      10000000
18869       2024-01-11  WESTWELL GASES PRIVATE LIMITED      10000000
18870       2024-01-11  WESTWELL GASES PRIVATE LIMITED      10000000

[18855 rows x 3 columns]
18855

In [9]:
df_cleaned.to_csv('data/unique_single_person_bond_purchase.csv', index=False)